.App {
  text-align: center;
  position: relative;
}

p {
  font-family: "OCR A Std", OCR-A-Std, monospace;
  font-style: normal;
  font-weight: 400;
  color: black;
  margin-bottom: 1px;
}
.App-blob {
  height: 100vmin;
  margin-left: 5vw;
  margin-top: -10vmin;
  position: relative;
  z-index: 1;
}

iframe {
  border-radius: 25px;
  max-width: 90%;
  width: 44.5vw;
  height: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.App-header {
  background-color: #7aac72;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 5vw;
}

